<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title || "Concert Booking" %></title>

    <% if (cssFile) { %>
        <link rel="stylesheet" href="/css/<%= cssFile %>">
    <% } %>
</head>
<body>

    <%- body %>

</body>
</html>